@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family:'Readex Pro';
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color:blue;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  /* text-decoration: none; */
}
nav ul li a{
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content:center;
  align-items: center;
  height:85vh;
}
.color{
    font-size: 30px;
    background: #000;
    color: white;
    border-radius:10px;
    padding:5px 15px;
}
.btn{
    margin-top:20px;
    padding:10px 30px;
    font-size:20px;
    font-weight:800;
    margin-left:150px;
    cursor:pointer;
    border-radius:30px;
    border:2px solid black;
    background: transparent;
    /* transition: all ease-in 0.5s; */
}
.btn:hover{
 color: rgb(255, 255, 255);
 background: rgb(0, 0, 0);
 transition: all ease-in-out 0.5s;
}




